<div style="text-align: center">
  <h1>Prepare to BATTLE!</h1>
  <h3>Enter the player names</h3>
  <form action='/names' method='post'>
    <label for="first_player_name">Player 1: <input type='text' name='first_player_name'></label>
    <label for="second_player_name">Player 2: <input type='text' name='second_player_name'></label>
    <p><input type='submit' value='Battle'>
  </form>
</div>

